<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <center>
<div class="header"> 
<p>IYKYK Website</p>
<h1>PEACE AND LOVE</h1>
</div>
</center>

<center>
<a href="/Main Menu" class="buttons">Main Menu</a>
<br>
<a href="/Collection" class="buttons">Collection</a>
<br>
<a href="/Collab" class="buttons">Collab</a>
<br>
<a href="/1-OF-1" class="buttons">1-OF-1</a>
<br>
<a href="/Photos" class="buttons">Photos</a>
<br>
<a href="/Contact" class="buttons">Contact</a>

</center>

</body>
</html>