body {
    background-image: url(yingyang.jpg);
    /* background-repeat: no-repeat; */
}

.header {
    text-align: center;
    text-decoration: overline;
    color: aqua;
    font-size: xx-large;
}

.buttons {
    font-size: xx-large;
    display: inline-block;
    text-decoration: none;
    color: aqua;
    border: 3px solid black;
    padding: 10px;
}
